<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2" >
    <body>
      <h3>Edit your Listing</h3>
      <form enctype="multipart/form-data" class="needs-validation" novalidate method="POST" action="/listings/<%=listing._id %>/?_method=PUT">
        
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" value="<%=listing.title %>" class="form-control" required>
          <div class="invalid-feedback">Should not empty!</div>
        </div>
       
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id=""class="form-control"  required><%=listing.description %></textarea>
            <div class="invalid-feedback">Description should be valid</div>
  
          </div>
  <!-- image  -->
  <div class="card mb-3">
    Original Listing image <br>
    <img src="<%= originalImageUrl %>" alt="">
  </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload new image</label>
            <input  type="file" name="listing[image]" value="<%=listing.image %>"class="form-control" >
          </div>

          <div class="row">

            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
    
              <input type="number" name="listing[price]" value="<%=listing.price %>"class="form-control" required>
              <div class="invalid-feedback">Price should be valid</div>
    
            </div>


            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input type="text" name="listing[country]" value="<%=listing.country %>"class="form-control"required>
             <div class="invalid-feedback">Please enter the valid country name</div>
              
            </div>  

          </div>
         
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
  
            <input type="text" name="listing[location]" value="<%=listing.location %>"class="form-control"required>
            <div class="invalid-feedback">Please enter the  valid location</div>
   
          </div>
  
           
           
            
          
          
           <button class="btn btn-dark edit-btn">Edit</button>
           <br>
           <br>
      </form>
  </body>

  </div>
</div>
 

